.social-btn {
   display: block;
   height: 75px;
   width: 125px;
   background: #FFFF00;
  
  
   color: rgba (0,0,0);
   text-align: center;
   font: bold 2em/25px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   
 }

